/* I. big container */
.media-details-container {
    /* background-color: lightcoral; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* 1. Left Container */

.media-details-container .media-details {
    width: 60%;
    height: 100%;
    border-radius: 24px;
    color: white;
    overflow-y: auto;
    padding: 10px;
}



.media-details::-webkit-scrollbar {
  width: 5px;
  
}

.media-details::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

/* a. Score Bar */

.media-details .score-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.score-container .static-progress-container {
    padding: 10px;
    background-color: #C0C0C0;
    width: 300px;
    font-family: 'Courier New', Courier, monospace;
}

.score-container .static-score-text {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2px;
    color: #000;
}

.score-container .progress-line-wrapper {
    position: relative;
    width: 100%;
    height: 10px;
    display: flex;
    align-items: center;
}

.score-container .progress-line {
    width: 100%;
    height: 2px;

    background: linear-gradient(to right, #000 70%, #fff 70%);
}

.score-container .progress-dot {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #000;
    border-radius: 70%;
    /* Adjust the 70% here to match the line split */
    left: 70%;
    transform: translateX(-50%);
    /* Centers the dot on the exact split point */
}

/* b. category */

.media-details .category-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.media-details .category,


/* c. Notable Quotes */
.media-details .quotes-container {
    margin-top: 20px;
    width: 100%;
}

.media-details .quotes-container .quote-title {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.media-details .quotes-container .quote-content {
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 4px solid #fff;
    font-style: italic;
    border-radius: 10px;
}


/* d. Review */
/* .media-details .review-container {
    margin-top: 20px;
    width: 100%;
}

.media-details .review-container .review-title {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
*/

.media-details .review-container .review-item {
    margin-top: 10px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border-right: 4px solid #fff;
    border-radius: 10px;
} 

.media-details .review-container {
    width: 100%;
}


.review-container .review-title {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.review-input-container{}


.review-input-container .score-dropdown{
    background: transparent;
    border: none;
    color: #000000;
    font-size: 15px;
    resize: none;
    outline: none;
    border-bottom: #000 1px solid;
    border-radius: 0%;

}

.review-input-container .score-dropdown option {
    background: #fff;
    color: #000;
}
.review-input-content{
    border-bottom: 1px solid #000;
}

.review-input-container .review-textarea {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;

    width: 100%;
    background: transparent;
    border: none;
    color: #000000;
    font-size: 15px;
    padding: 6px 0 0px 0; 
    resize: none;
    outline: none;
    line-height: 1.5;

    
}

.review-textarea::-webkit-scrollbar{
    /* hide scrollbar */
    display: none;
}

.review-input-container .review-save-btn-container {
    margin-top: 10px;
}

.review-save-btn-container .save-btn{
    color: #000000;
    background: transparent;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

/* 2. Right Container */

.right-container {
    /* background-color: lightblue; */
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* a. Status Container */
.right-container .status-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    gap: 10px;
    width: 100%;
}





/* b. Cover Photo Container */


.media-details-container .cover-photo-container {
    width: 100%;
    height: 100%;
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Optional: Add a custom arrow since 'appearance: none' removes it */


.cover-photo-container .cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}